<div class="content-item">
  <form class="example-form" (submit)="submitUserName()">
    <mat-form-field class="example-full-width">
      <mat-label>Enter your name</mat-label>
      <input class="input-name" matInput [(ngModel)]="enterName" name="username">
    </mat-form-field>

    <button mat-button type="submit">Submit</button>
  </form>

  <div *ngIf="userNameSubmitted">
    <h1>{{ currentDate | date: 'mediumTime' }}</h1>
    <h2>{{ currentDate | timeGreeting }}, {{ enterName }}</h2>
  </div>
</div>

<!--<router-outlet></router-outlet>-->
