.todo-item {
  display: flex;
  text-decoration: line-through;

  .input-todo {
    margin-top: 15px;
    text-decoration: line-through;
  }

  .strikethrough-checkbox > label {
    text-decoration: line-through;

    label {
      text-decoration: line-through;
    }
  }
  mat-checkbox {
    text-decoration: line-through;
    .mdc-form-field {
      text-decoration: line-through;
    }
  }
  .mat-mdc-checkbox label {
    text-decoration: line-through;
  }
  .mdc-form-field > label {
    text-decoration: line-through;
  }

  label {
    text-decoration: line-through;
  }

}
label {
  text-decoration: line-through;
}
.mat-mdc-checkbox label {
  cursor: grab;
}

.mdc-form-field {
  display: inline-flex;
  align-items: center;
  vertical-align: baseline;
}

